extends layout
block content
  h1= title
  form(id='watchForm', action="/resource/watch", method="POST")
    div.form-group(style="color:white;background-color:black")
      label.watchAttr(for='watch_type') watch type
      input#watch_type(type='text', name='watch_type')
    div.form-group(style="color:white;background-color:black")
      label.watchAttr(for='watch_brand') watch brand
      input#watch_brand(type='text', name='watch_brand')
    div.form-group(style="color:white;background-color:black")
      label.watchAttr(for='cost') watch cost
      input#cost(type='number', name='cost')
    input(type="submit")
  script.
    document.forms['watchForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
